@charset "UTF-8";

/* 共通 */
a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

table,
th,
td {
    border: 1px solid;
}

.common-wrapper {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    margin-bottom: 120px;
}

/* ヘッダー */
#header {
    background-color: cadetblue;
}

.header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header-list {
    display: flex;
}

.header-list-item {
    margin-right: 20px;
}

/* main共通 */
.section-title {
    text-align: center;
    margin-bottom: 50px;
}

/* 自己紹介 */
.introduction-table {
    /* text-align: center; */
    width: 100%;
}

.table-header {
    background-color: #f0e68c;
}

.table-header-contents {
    width: 30%;
}

/* 趣味 */
.hobby-outer {
    display: flex;
    gap: 10px;
}

img {
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.hobby-inner {
    width: 100%;
}

/* 座右の銘 */
.motto-text {
    font-size: 70px;
    text-shadow: 8px 1px #f4a460;
    text-align: center;
}

/* お気に入り動画 */
.button-outer {
    text-align: center;
}

.button {
    padding: 10px 50px;
    background-color: #f0e68c;
    border: 1px solid black;
    border-radius: 50px;
}

/* フッター */
.footer {
    padding: 20px 0;
    background-color: cadetblue;
    text-align: center;
}
